
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>CheckYourInbox</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
       
        <p>Please Check your Inbox</p>
        <p><a href="https://mail.google.com/mail/u/0/#inbox"> Ckeck here!!</a></p>

    </div>

</div>

