@model RestPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ResetPassword</h1>
<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly"> </div>
            <input asp-for="NewPassword" placeholder="Enter New Password" />
            <span class="text-danger" asp-validation-for="NewPassword"></span>
            <br />
            <input asp-for="ConfirmPassword" placeholder="Enter New Password" />
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            <br />
            <input type="submit" value="Reset Password ">
        </form>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial" />

