@model UpdateDepartmentViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Update Department</h1>
<br />
<br />
<partial name="Shared/_FormPartial" model="@Model" />

        @section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
        }




